.footer {
    background-color: var(--hero-futter-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

 .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px){
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin: auto;
}
}

