.logo,
.logo-footer,
.logo-heard {
    @include fons (26px, 700, 1.2, 0.03em);
    text-decoration: none;
    font-family: Raleway, sans-serif;
}

.logo {
    color: var(--accent-color);
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px){
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    }
         @media screen and (min-width: 1200px){
            padding-top: 0px;
                padding-bottom: 0px;
                margin-right: 93px;
         }

}

.logo-footer {
    color: var(--white-color);
}

.logo-heard {
    color: #000000;
}

.logo-location__footer {
    padding-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 768px){

    }

    @media screen and (min-width: 1200px){
    padding-bottom: 20px;
    text-align: start;
    
    }
}
.logo-placing {
    margin: 0 px;
    padding-bottom:0px ;
    padding-top: 0px;

}