@mixin fons ($fs,$fw,$lh,$ls)
{
    font-size: fs;
    font-weight: fw;
    line-height: lh;
    letter-spacing: ls;
}

@mixin transition ($tr,$tr-tm-fc) {
    transition: tr;
    transition-timing-function:tr-tm-fc ;
}
