.auth-nov {
    display: none;
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-left: 20px;
         }      
       & .item:last-child{
            margin-right: 50px;
        }
}

.auth-nov {@media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: auto;

}}

.link-auth-now {
    display: flex;
    text-decoration: none;
    @include fons (14px, 500, 1.14, 0.02em);
    color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    @include transition (250ms, cubic-bezier(0.4, 0, 0.2, 1));

    .item &:hover,
    .item &:focus{
        color: var(--accent-color);
            fill: var(--accent-color);
            }
}

.link-auth-now {
    @media screen and (min-width: 768px) {
    font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        letter-spacing: 0.02em;
}}
.icon-contacts {
    display: flex;
    fill: #757575;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    @include transition (250ms, cubic-bezier(0.4, 0, 0.2, 1));
    .link-auth-now:hover &,
        .link-auth-now:focus & {
            color: var(--accent-color);
            fill: var(--accent-color);
        }
}